@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ixgkqc');
  src:  url('../fonts/icomoon.eot?ixgkqc#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ixgkqc') format('truetype'),
    url('../fonts/icomoon.woff?ixgkqc') format('woff'),
    url('../fonts/icomoon.svg?ixgkqc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-i_age:before {
  content: "\e900";
  color: #fff;
}
.icon-i_edu:before {
  content: "\e901";
  color: #fff;
}
.icon-i_site:before {
  content: "\e902";
  color: #fff;
}
.icon-i_status:before {
  content: "\e903";
  color: #fff;
}
